name: Deploy

on:
  push:
    branches:
      - 'main'

jobs:
  deploy-to-test-env:
    runs-on: ubuntu-latest
    environment: Test
    name: Deploy to Test environment
    env:
      TOKEN: ${{ secrets.DIGITAL_OCEAN_TOKEN }}
      URL: ${{ vars.DEPLOYMENT_URL }}
    steps:
      - name: Wait for CI, build, and other workflows to succeed
        uses: kachick/wait-other-jobs@v4
        timeout-minutes: 24
        with:
          wait-list: |
            [
              {
                "workflowFile": "ci.yml"
              },
              {
                "workflowFile": "sdk.yml"
              },
              {
                "workflowFile": "docker.yml"
              }
            ]
      - name: Deploy to Digital Ocean Test environment
        run: |
          set -eo pipefail
          curl -X POST -H "Content-Type: application/json" -H "Authorization: Bearer ${{ env.TOKEN }}" --url "${{ env.URL }}" -d '{ "force_build": true }' | jq -e .deployment.id
  deploy-to-demo-env:
    # This environment was production until 2025-08-21T11:15-0500. It then became the demo environment.
    runs-on: ubuntu-latest
    environment: Demo
    name: Deploy to Demo environment
    env:
      TOKEN: ${{ secrets.DIGITAL_OCEAN_TOKEN }}
      URL: ${{ vars.DEPLOYMENT_URL }}
    needs: deploy-to-test-env
    steps:
      - name: Deploy to Digital Ocean Demo environment
        run: |
          set -eo pipefail
          curl -X POST -H "Content-Type: application/json" -H "Authorization: Bearer ${{ env.TOKEN }}" --url "${{ env.URL }}" -d '{ "force_build": true }' | jq -e .deployment.id
  deploy-to-sandbox-env:
    runs-on: ubuntu-latest
    environment: Sandbox
    name: Deploy to Sandbox environment
    env:
      TOKEN: ${{ secrets.DIGITAL_OCEAN_TOKEN }}
      URL: ${{ vars.DEPLOYMENT_URL }}
    needs: deploy-to-test-env
    steps:
      - name: Deploy to Digital Ocean Sandbox environment
        run: |
          set -eo pipefail
          curl -X POST -H "Content-Type: application/json" -H "Authorization: Bearer ${{ env.TOKEN }}" --url "${{ env.URL }}" -d '{ "force_build": true }' | jq -e .deployment.id
  deploy-to-production-2025-env:
    # This environment became production 2025-08-21T11:15-0500.
    runs-on: ubuntu-latest
    environment: Production-2025
    name: Deploy to Production-2025 environment
    env:
      TOKEN: ${{ secrets.DIGITAL_OCEAN_TOKEN }}
      URL: ${{ vars.DEPLOYMENT_URL }}
    needs: deploy-to-test-env
    steps:
      - name: Deploy to Digital Ocean Production 2025 environment
        run: |
          set -eo pipefail
          curl -X POST -H "Content-Type: application/json" -H "Authorization: Bearer ${{ env.TOKEN }}" --url "${{ env.URL }}" -d '{ "force_build": true }' | jq -e .deployment.id
